* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  list-style: none;
}
.wrapper {
  background-color: rgb(195, 195, 227);
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.main-container {
  max-width: 400px;
  background-color: #eef4ed;
  margin: 100px auto;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #807f7f;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  user-select: none;
}
.list-image {
  mix-blend-mode: multiply;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.row {
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 220, 220);
  border-radius: 20px;
  margin-bottom: 15px;
}
#inputBox {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px 0 10px 15px;
  background: transparent;
  font-weight: 600;
}
#add-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #ff6b35;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
#add-btn:hover {
  background-color: #f9561a;
}
#add-btn:active {
  background-color: #ff6b35b6;
  font-weight: 600;
}

.forComplete {
  display: flex;
  justify-content: space-between;
}

.result .forComplete {
  list-style: none;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0 10px 25px;
  user-select: none;
  cursor: pointer;
  display: flex;
  position: relative;
}
.result p::before {
  content: "";
  background-image: url(./images/circle.png);
  mix-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.result .userValue.done {
  text-decoration: line-through;
  color: #6f6f6f;
}
.result .userValue.done::before {
  content: "";
  background-image: url(./images/select1.png);
  mix-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}
.edit,
.delete {
  font-size: 13px;
  padding-left: 5px;
}
span:active {
  transform: scale(1.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.386);
  padding-bottom: 10px;
}
.nav ul {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.nav ul li {
  padding-right: 20px;
  cursor: pointer;
  transition: 0.2s;
  user-select: none;
}
.nav ul li:hover {
  color: rgb(0, 0, 255);
}

#clear-all {
  padding: 6px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #4169e1;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
#clear-all:hover {
  background-color: rgba(255, 0, 0, 0.767);
}
#clear-all:active {
  transform: scale(1.1);
}

.alert-box {
  position: absolute;
  z-index: -999;
  margin-left: auto;
  margin-right: auto;
  top: 250px;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding: 10px;
  background-color: #5d81efc8;
  border-radius: 10px;
}
.alert-box h2 {
  font-size: 1rem;
  color: white;
}
.alert-box div {
  display: flex;
  gap: 10px;
}
.alert-box div button {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.546);
  padding: 3px;
  width: 50px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.alert-box div button:active {
  opacity: 0.5;
}

.active{
  color: rgb(0, 0, 255);
}